@model Domain.User
@using (Html.BeginForm("LoginUser", "Identity", FormMethod.Post))
{
    <div class="embed-responsive">
        <div class="login-form">
            @Html.TextBoxFor(x => x.Email) <br />
            @Html.TextBoxFor(x => x.Password) <br />
            <input type="submit" class="btn-danger" value="Login" />
        </div>

    </div>
}